{
  "parser": "typescript",
  "tabWidth": 2,
  "useTabs": false,
  "arrowParens": "always",
  "bracketSameLine": true,
  "bracketSpacing": true,
  "singleQuote": false,
  "trailingComma": "none",
  "semi": true,
  "printWidth": 100,
  "ignore": [
    "cypress/*",
    "*.cy.js"
  ]
}