@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900');
@import url('https://fonts.googleapis.com/css2?family=Sarala:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@160..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Taviraj:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900');
@import url('https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap');

main.card9 {
	& section + section {
		padding-bottom: 2vh;
	}

	& section section article img {
		width: 55vw;
		cursor: pointer;
	}
	& h1 {
		font-size: 4.6vw;
		font-family: 'Lexend', serif;
		font-weight: 300;
		font-style: normal;
		margin: 4vh 0vh 0vh 0vh;
	}

	& h2 {
		font-size: 7vh;
		font-family: 'Sarala', serif;
		font-weight: 400;
		font-style: normal;
		margin: 2vh 0px 0px 0px;
		line-height: 2;
	}

	& h3 {
		font-size: 2.5vh;
		padding: 0 20vw;
		font-family: 'Sarala', serif;
		font-weight: 400;
		font-style: normal;
		margin: 0px;
	}

	& .section-background {
		background-attachment: fixed;
		background-position: center;
		background-size: cover;
		height: 100vh;
		width: 100%;
		color: #ffffff;
		display: flex;
		justify-content: center;
		align-items: center;

		& article {
			padding: 4vw 6vw;
			max-width: 40vw;
			background-color: hsl(217, 32%, 28%);

			& p {
				font-family: 'Figtree', serif;
				font-weight: 400;
				font-style: normal;
				font-size: 2.2vw;
				margin: 0px;
			}
		}
	}

	& section.parallax0 {
		background-image: url('gatech_research16.png');
	}

	& section.parallax1 {
		background-image: url('proteins10.png');
	}

	& section.parallax2 {
		background-image: url('icecore5.png');
	}

	& section.parallax3 {
		background-image: url('dna10.png');
	}
}

& section.text-bloc {
	& div {
		padding: 4vh 0;
		& p {
			margin: 0px;
			padding: 1.2vh 20vw;
			font-family: 'Figtree', serif;
			font-weight: 400;
			font-style: normal;
			font-size: 1.4vw;
			line-height: 1.5;
		}
	}

	& figure {
		margin: 5vh 0 0 0;

		& img {
			max-width: 40vw;
			filter: drop-shadow(2px 4px 6px gray);
		}
	}
}
